# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. 🙂

In [1]:
# Import here.

import pandas as pd 
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you’ll―of course―overcome them with what you learned in class! 😉

## Food Choices Data Set

### Load the Data

In [4]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = '../data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)
df_food.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

### Explore the Data

How much data did you just load?

In [5]:
# Count by hand. (lol kidding)
df_food.shape

(125, 61)

In [6]:
print(df_food.dtypes)

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

What are the columns and their types in this data set?

In [7]:
# Show the column names and their types.

df_food.columns

Index(['GPA', 'Gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'comfort_food_reasons_coded', 'cook', 'comfort_food_reasons_coded.1',
       'cuisine', 'diet_current', 'diet_current_coded', 'drink',
       'eating_changes', 'eating_changes_coded', 'eating_changes_coded1',
       'eating_out', 'employment', 'ethnic_food', 'exercise',
       'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')

### Clean the Data

Perhaps we’d like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. …and maybe gender.

Can you remove the other columns?

In [8]:
# Remove ‘em.
df_food_new = df_food.copy()
df_food_new = df_food_new[['calories_day', 'weight', 'Gender']]
df_food_new

     calories_day                    weight  Gender
0             NaN                       187       2
1             3.0                       155       1
2             4.0  I'm not answering this.        1
3             3.0             Not sure, 240       1
4             2.0                       190       1
..            ...                       ...     ...
120           4.0                       156       1
121           2.0                       180       1
122           NaN                       120       1
123           4.0                       135       2
124           NaN                       135       1

[125 rows x 3 columns]

What about `NaN`s? How many are there?

In [9]:
# Count ‘em.

print(df_food.isna().sum().sum())

149

We gotta remove those `NaN`s―the entire row.

In [10]:
# Drop ‘em.
df_food.dropna()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
6,3.8,2,1,610,3.0,420.0,2,"Chocolate, ice cream, french fries, pretzels","stress, boredom",1.0,...,1.0,1.0,5,940.0,690,soccer,4,1,1315,180
7,3.3,1,1,720,3.0,420.0,1,"Ice cream, cheeseburgers, chips.",I eat comfort food when im stressed out from s...,1.0,...,1.0,2.0,1,725.0,500,none,4,2,1315,137
9,3.3,1,1,430,3.0,315.0,2,"Mac and cheese, chocolate, and pasta","Stress, anger and sadness",1.0,...,1.0,1.0,4,580.0,345,field hockey,5,1,900,125
10,3.5,1,1,610,3.0,980.0,2,"Pasta, grandma homemade chocolate cake anythin...",Boredom,2.0,...,1.0,1.0,2,940.0,345,soccer,5,2,900,116
11,3.904,1,1,720,4.0,420.0,2,"chocolate, pasta, soup, chips, popcorn","sadness, stress, cold weather",3.0,...,1.0,1.0,5,940.0,500,Running,5,1,900,110
12,3.4,2,1,430,3.0,420.0,2,"Cookies, popcorn, and chips","Sadness, boredom, late night snack",3.0,...,2.0,1.0,3,940.0,500,Soccer and basketball,3,2,575,264
13,3.6,1,1,610,3.0,420.0,2,"ice cream, cake, chocolate","stress, boredom, special occasions",1.0,...,1.0,1.0,5,1165.0,850,intramural volleyball,5,2,1315,123
14,3.1,2,1,610,3.0,420.0,2,"Pizza, fruit, spaghetti, chicken and Potatoes","Friends, environment and boredom",2.0,...,1.0,1.0,4,940.0,500,Hockey,5,1,900,185
17,3.6,2,1,430,3.0,980.0,2,"chips, cookies, ice cream",I usually only eat comfort food when I'm bored...,2.0,...,1.0,1.0,3,940.0,500,hockey,4,2,900,170
18,3.4,1,1,720,3.0,980.0,1,"Chocolate, ice crea","Sadness, stress",3.0,...,2.0,2.0,1,1165.0,690,dancing,5,1,1315,135
20,3.3,2,1,610,3.0,980.0,2,"Fast food, pizza, subs","happiness, satisfaction",7.0,...,1.0,1.0,1,1165.0,850,Soccer,3,2,1315,175
22,3.7,2,1,610,3.0,420.0,1,"burgers, chips, cookies","sadness, depression",3.0,...,1.0,1.0,4,940.0,850,tennis soccer gym,3,1,1315,185
23,3.7,2,2,610,3.0,420.0,2,"Chilli, soup, pot pie",Stress and boredom,1.0,...,1.0,1.0,4,940.0,690,Gaelic Football,4,1,1315,185
25,2.8,1,2,720,3.0,420.0,2,"chocolate, ice cream/milkshake, cookies",boredom,2.0,...,1.0,1.0,3,1165.0,690,Ice hockey,3,2,760,125
26,3.7,2,1,610,2.0,420.0,1,"Chips, ice cream, microwaveable foods","Boredom, lazyniss",2.0,...,2.0,1.0,2,1165.0,850,Hockey,3,2,1315,160
27,3,2,1,610,4.0,980.0,2,"Chicken fingers, pizza",Boredom,2.0,...,1.0,1.0,3,1165.0,500,Lacrosse,5,1,1315,175
31,4,2,1,610,3.0,420.0,2,"chips and dip, pepsi,","stres, boredom, and nighttime",1.0,...,2.0,2.0,4,940.0,690,none organized,5,1,1315,205
34,3.65,1,1,610,3.0,420.0,2,"french fries, chips, ice cream","boredom, stressed, sad",2.0,...,1.0,1.0,3,940.0,345,softball,4,1,1315,150
35,3,1,1,610,2.0,420.0,2,"mac n cheese, peanut butter and banana sandwic...",Boredom usually,2.0,...,1.0,1.0,2,940.0,690,Lacrosse,5,2,760,150
37,3.4,1,1,720,4.0,420.0,2,"chocolate, chips, candy",Stress,1.0,...,1.0,1.0,5,940.0,500,Dancing,4,2,1315,170
38,3.89,1,1,610,3.0,980.0,2,"chocolate, popcorn, ice cream","boredom, stress",2.0,...,1.0,1.0,2,1165.0,690,Lacrosse,3,2,1315,150
40,3.4,2,1,430,3.0,315.0,1,"Pizza, Ice cream, fries, cereal, cookies",Usually if I'm sad or depressed.,3.0,...,1.0,1.0,3,940.0,500,wrestling,4,2,760,140
44,3.2,1,1,610,4.0,420.0,2,"Potato chips, ice cream, chocolate, cookies","Stress, boredom, craving",1.0,...,1.0,1.0,5,725.0,500,Volleyball,5,1,760,170
46,3.8,2,1,430,2.0,420.0,1,"popcorn, chips, candy, & fries","sadness, boredom, & anger",3.0,...,1.0,1.0,3,725.0,345,soccer,4,2,900,168
51,3.3,2,1,610,4.0,980.0,1,Burger,Lazy,5.0,...,1.0,1.0,5,1165.0,500,Hockey,4,1,1315,185
54,3.5,2,1,610,3.0,420.0,2,"peanut butter sandwich, pretzals, garlic bread","stress, anger and boredom",1.0,...,1.0,1.0,4,940.0,690,hockey,5,1,900,165
56,3.8,2,1,720,4.0,315.0,2,"Pizza, Ice Cream, Chicken Wings",I usually only eat comfort foods when I am bor...,2.0,...,1.0,1.0,5,1165.0,500,Hockey,5,1,1315,175
57,2.8,1,1,610,4.0,980.0,2,Pizza chocolate chips bagels ice Capps,Just cause,9.0,...,2.0,1.0,2,725.0,345,softball,4,1,1315,140
58,3.5,1,1,610,3.0,420.0,2,"Chocolate, ice cream, pasta","Stress, boredom, sadness",1.0,...,1.0,1.0,5,1165.0,690,Skiing,5,1,1315,155
60,3.6,1,1,610,4.0,420.0,2,"peanut butter, dessets, pretzels.","Sadness, boredom, lonely.",3.0,...,1.0,1.0,1,1165.0,690,Water polo and running,5,1,1315,135
62,3.9,2,1,610,4.0,980.0,2,"ice cream, cookies, ice cream","boredom, sadness",2.0,...,1.0,1.0,2,1165.0,850,Ice Hockey,4,1,1315,210
64,3.5,1,1,610,3.0,420.0,1,"cookies, nutella, ice cream, coffee, fruit","Bordem, happiness, sadness",2.0,...,2.0,1.0,3,940.0,500,Volleyball,5,1,760,140
67,3.6,1,1,610,2.0,420.0,1,"Ice cream, cake, mozzarella sticks, pierogies",Boredom,2.0,...,1.0,1.0,2,940.0,690,"Recreational Basketball, Equestrian Team",5,2,1315,144 lbs
68,3.2,1,1,430,3.0,315.0,1,"Chips, Mac and cheese, pizza, French fries","Stress, sadness, bored",1.0,...,1.0,1.0,4,725.0,500,soccer,5,2,760,145
70,3.73,1,1,610,3.0,980.0,2,"Broccoli, spaghetti squash, quinoa, and grille...","Bad day, bored, sadness",2.0,...,1.0,1.0,5,1165.0,500,Rec Volleyball,5,1,1315,140
73,3.79 bitch,2,1,720,4.0,420.0,2,"Chips, ice cream","Boredom, stress",2.0,...,1.0,1.0,2,1165.0,850,baseball,4,1,1315,200
75,3,1,1,610,3.0,420.0,2,"mac and cheese, potato soup, ice cream, chips ...","sadness, stressed, boredom",3.0,...,1.0,2.0,4,940.0,500,I danced in high school,4,1,900,120
76,3.7,1,2,610,3.0,420.0,1,"chocolate, pizza, and mashed potatoes",boredom and stress,2.0,...,2.0,1.0,1,1165.0,690,horse back riding,2,2,1315,150
77,3.1,2,2,265,2.0,420.0,1,Pizza cookies steak,Boredom comfort hunger,2.0,...,2.0,1.0,2,725.0,345,Basketball,2,2,900,200
78,3,1,1,720,3.0,420.0,2,"chocolate, fruit, and ice cream","stress, boredom",1.0,...,1.0,1.0,3,580.0,345,competitive skiing,4,1,1315,135
79,3.9,2,1,720,3.0,420.0,2,Chips sweets popcorn,Boredom,2.0,...,1.0,1.0,5,1165.0,850,"Rowing, Running, and Cycling",4,2,1315,145
81,3.5,1,2,610,3.0,420.0,1,"cake, French fries, chicken nuggets","boredom, sadness",2.0,...,2.0,1.0,4,725.0,500,softball and basketball,2,2,900,190
84,3.83,1,1,720,3.0,420.0,2,"Pasta dishes, Cheesecake, Pancakes","Sadness, Loneliness, Boredom",3.0,...,1.0,1.0,5,725.0,690,Collegiate Water Polo,5,1,760,167
85,2.6,1,1,265,3.0,315.0,2,"Ice cream, pizza, cookies",Mostly Stress,1.0,...,1.0,2.0,3,580.0,500,None right now,4,1,760,140
86,3,1,1,610,3.0,420.0,2,"Chinese food, moes, sponge candy, homemade las...","boredom, sadness",2.0,...,1.0,1.0,4,580.0,500,"volleyball, lacrosse",4,1,900,190
87,3.2,2,1,720,3.0,420.0,1,"pizza, pasta, mac and cheese",when i am sad or craving,3.0,...,1.0,1.0,1,1165.0,690,field hockey,4,1,1315,155
91,3.8,1,2,610,2.0,420.0,2,"Macaroni and cheese, chicken noodle soup, pizza",Boredom and stress,2.0,...,1.0,2.0,1,725.0,500,crew,1,2,900,135
96,3.92,2,1,430,3.0,420.0,2,"Ice cream, cake, pop, pizza, and milkshakes.","Happiness, sadness, celebration.",7.0,...,1.0,2.0,3,725.0,500,Soccer,2,1,900,210
103,3.7,1,1,610,3.0,420.0,2,"dark chocolate, terra chips, reese's cups(dark...","Anxiousness, watching TV I desire ""comfort food""",8.0,...,1.0,2.0,3,725.0,345,"When I can, rarely though play pool, darts, an...",5,1,760,130

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. 🤔

In [40]:
df_food['GPA'] = pd.to_numeric(df_food['GPA'], errors='coerce')
df_food['weight'] = pd.to_numeric(df_food['weight'], errors = 'coerce')

df_food.dtypes

df_food.dropna()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155.0
4,3.500,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190.0
6,3.800,2,1,610,3.0,420.0,2,"Chocolate, ice cream, french fries, pretzels","stress, boredom",1.0,...,1.0,1.0,5,940.0,690,soccer,4,1,1315,180.0
7,3.300,1,1,720,3.0,420.0,1,"Ice cream, cheeseburgers, chips.",I eat comfort food when im stressed out from s...,1.0,...,1.0,2.0,1,725.0,500,none,4,2,1315,137.0
9,3.300,1,1,430,3.0,315.0,2,"Mac and cheese, chocolate, and pasta","Stress, anger and sadness",1.0,...,1.0,1.0,4,580.0,345,field hockey,5,1,900,125.0
10,3.500,1,1,610,3.0,980.0,2,"Pasta, grandma homemade chocolate cake anythin...",Boredom,2.0,...,1.0,1.0,2,940.0,345,soccer,5,2,900,116.0
11,3.904,1,1,720,4.0,420.0,2,"chocolate, pasta, soup, chips, popcorn","sadness, stress, cold weather",3.0,...,1.0,1.0,5,940.0,500,Running,5,1,900,110.0
12,3.400,2,1,430,3.0,420.0,2,"Cookies, popcorn, and chips","Sadness, boredom, late night snack",3.0,...,2.0,1.0,3,940.0,500,Soccer and basketball,3,2,575,264.0
13,3.600,1,1,610,3.0,420.0,2,"ice cream, cake, chocolate","stress, boredom, special occasions",1.0,...,1.0,1.0,5,1165.0,850,intramural volleyball,5,2,1315,123.0
14,3.100,2,1,610,3.0,420.0,2,"Pizza, fruit, spaghetti, chicken and Potatoes","Friends, environment and boredom",2.0,...,1.0,1.0,4,940.0,500,Hockey,5,1,900,185.0
17,3.600,2,1,430,3.0,980.0,2,"chips, cookies, ice cream",I usually only eat comfort food when I'm bored...,2.0,...,1.0,1.0,3,940.0,500,hockey,4,2,900,170.0
18,3.400,1,1,720,3.0,980.0,1,"Chocolate, ice crea","Sadness, stress",3.0,...,2.0,2.0,1,1165.0,690,dancing,5,1,1315,135.0
20,3.300,2,1,610,3.0,980.0,2,"Fast food, pizza, subs","happiness, satisfaction",7.0,...,1.0,1.0,1,1165.0,850,Soccer,3,2,1315,175.0
22,3.700,2,1,610,3.0,420.0,1,"burgers, chips, cookies","sadness, depression",3.0,...,1.0,1.0,4,940.0,850,tennis soccer gym,3,1,1315,185.0
23,3.700,2,2,610,3.0,420.0,2,"Chilli, soup, pot pie",Stress and boredom,1.0,...,1.0,1.0,4,940.0,690,Gaelic Football,4,1,1315,185.0
25,2.800,1,2,720,3.0,420.0,2,"chocolate, ice cream/milkshake, cookies",boredom,2.0,...,1.0,1.0,3,1165.0,690,Ice hockey,3,2,760,125.0
26,3.700,2,1,610,2.0,420.0,1,"Chips, ice cream, microwaveable foods","Boredom, lazyniss",2.0,...,2.0,1.0,2,1165.0,850,Hockey,3,2,1315,160.0
27,3.000,2,1,610,4.0,980.0,2,"Chicken fingers, pizza",Boredom,2.0,...,1.0,1.0,3,1165.0,500,Lacrosse,5,1,1315,175.0
31,4.000,2,1,610,3.0,420.0,2,"chips and dip, pepsi,","stres, boredom, and nighttime",1.0,...,2.0,2.0,4,940.0,690,none organized,5,1,1315,205.0
34,3.650,1,1,610,3.0,420.0,2,"french fries, chips, ice cream","boredom, stressed, sad",2.0,...,1.0,1.0,3,940.0,345,softball,4,1,1315,150.0
35,3.000,1,1,610,2.0,420.0,2,"mac n cheese, peanut butter and banana sandwic...",Boredom usually,2.0,...,1.0,1.0,2,940.0,690,Lacrosse,5,2,760,150.0
37,3.400,1,1,720,4.0,420.0,2,"chocolate, chips, candy",Stress,1.0,...,1.0,1.0,5,940.0,500,Dancing,4,2,1315,170.0
38,3.890,1,1,610,3.0,980.0,2,"chocolate, popcorn, ice cream","boredom, stress",2.0,...,1.0,1.0,2,1165.0,690,Lacrosse,3,2,1315,150.0
40,3.400,2,1,430,3.0,315.0,1,"Pizza, Ice cream, fries, cereal, cookies",Usually if I'm sad or depressed.,3.0,...,1.0,1.0,3,940.0,500,wrestling,4,2,760,140.0
44,3.200,1,1,610,4.0,420.0,2,"Potato chips, ice cream, chocolate, cookies","Stress, boredom, craving",1.0,...,1.0,1.0,5,725.0,500,Volleyball,5,1,760,170.0
46,3.800,2,1,430,2.0,420.0,1,"popcorn, chips, candy, & fries","sadness, boredom, & anger",3.0,...,1.0,1.0,3,725.0,345,soccer,4,2,900,168.0
51,3.300,2,1,610,4.0,980.0,1,Burger,Lazy,5.0,...,1.0,1.0,5,1165.0,500,Hockey,4,1,1315,185.0
54,3.500,2,1,610,3.0,420.0,2,"peanut butter sandwich, pretzals, garlic bread","stress, anger and boredom",1.0,...,1.0,1.0,4,940.0,690,hockey,5,1,900,165.0
56,3.800,2,1,720,4.0,315.0,2,"Pizza, Ice Cream, Chicken Wings",I usually only eat comfort foods when I am bor...,2.0,...,1.0,1.0,5,1165.0,500,Hockey,5,1,1315,175.0
57,2.800,1,1,610,4.0,980.0,2,Pizza chocolate chips bagels ice Capps,Just cause,9.0,...,2.0,1.0,2,725.0,345,softball,4,1,1315,140.0
58,3.500,1,1,610,3.0,420.0,2,"Chocolate, ice cream, pasta","Stress, boredom, sadness",1.0,...,1.0,1.0,5,1165.0,690,Skiing,5,1,1315,155.0
60,3.600,1,1,610,4.0,420.0,2,"peanut butter, dessets, pretzels.","Sadness, boredom, lonely.",3.0,...,1.0,1.0,1,1165.0,690,Water polo and running,5,1,1315,135.0
62,3.900,2,1,610,4.0,980.0,2,"ice cream, cookies, ice cream","boredom, sadness",2.0,...,1.0,1.0,2,1165.0,850,Ice Hockey,4,1,1315,210.0
64,3.500,1,1,610,3.0,420.0,1,"cookies, nutella, ice cream, coffee, fruit","Bordem, happiness, sadness",2.0,...,2.0,1.0,3,940.0,500,Volleyball,5,1,760,140.0
68,3.200,1,1,430,3.0,315.0,1,"Chips, Mac and cheese, pizza, French fries","Stress, sadness, bored",1.0,...,1.0,1.0,4,725.0,500,soccer,5,2,760,145.0
70,3.730,1,1,610,3.0,980.0,2,"Broccoli, spaghetti squash, quinoa, and grille...","Bad day, bored, sadness",2.0,...,1.0,1.0,5,1165.0,500,Rec Volleyball,5,1,1315,140.0
75,3.000,1,1,610,3.0,420.0,2,"mac and cheese, potato soup, ice cream, chips ...","sadness, stressed, boredom",3.0,...,1.0,2.0,4,940.0,500,I danced in high school,4,1,900,120.0
76,3.700,1,2,610,3.0,420.0,1,"chocolate, pizza, and mashed potatoes",boredom and stress,2.0,...,2.0,1.0,1,1165.0,690,horse back riding,2,2,1315,150.0
77,3.100,2,2,265,2.0,420.0,1,Pizza cookies steak,Boredom comfort hunger,2.0,...,2.0,1.0,2,725.0,345,Basketball,2,2,900,200.0
78,3.000,1,1,720,3.0,420.0,2,"chocolate, fruit, and ice cream","stress, boredom",1.0,...,1.0,1.0,3,580.0,345,competitive skiing,4,1,1315,135.0
79,3.900,2,1,720,3.0,420.0,2,Chips sweets popcorn,Boredom,2.0,...,1.0,1.0,5,1165.0,850,"Rowing, Running, and Cycling",4,2,1315,145.0
81,3.500,1,2,610,3.0,420.0,1,"cake, French fries, chicken nuggets","boredom, sadness",2.0,...,2.0,1.0,4,725.0,500,softball and basketball,2,2,900,190.0
84,3.830,1,1,720,3.0,420.0,2,"Pasta dishes, Cheesecake, Pancakes","Sadness, Loneliness, Boredom",3.0,...,1.0,1.0,5,725.0,690,Collegiate Water Polo,5,1,760,167.0
85,2.600,1,1,265,3.0,315.0,2,"Ice cream, pizza, cookies",Mostly Stress,1.0,...,1.0,2.0,3,580.0,500,None right now,4,1,760,140.0
86,3.000,1,1,610,3.0,420.0,2,"Chinese food, moes, sponge candy, homemade las...","boredom, sadness",2.0,...,1.0,1.0,4,580.0,500,"volleyball, lacrosse",4,1,900,190.0
87,3.200,2,1,720,3.0,420.0,1,"pizza, pasta, mac and cheese",when i am sad or craving,3.0,...,1.0,1.0,1,1165.0,690,field hockey,4,1,1315,155.0
91,3.800,1,2,610,2.0,420.0,2,"Macaroni and cheese, chicken noodle soup, pizza",Boredom and stress,2.0,...,1.0,2.0,1,725.0,500,crew,1,2,900,135.0
96,3.920,2,1,430,3.0,420.0,2,"Ice cream, cake, pop, pizza, and milkshakes.","Happiness, sadness, celebration.",7.0,...,1.0,2.0,3,725.0,500,Soccer,2,1,900,210.0
103,3.700,1,1,610,3.0,420.0,2,"dark chocolate, terra chips, reese's cups(dark...","Anxiousness, watching TV I desire ""comfort food""",8.0,...,1.0,2.0,3,725.0,345,"When I can, rarely though play pool, darts, an...",5,1,760,130.0

Now this data seems reasonably clean for our purposes! 😁

Let’s save it somewhere to be shipped off to another teammate. 💾

In [41]:
# Savey save!

df_food.to_csv('cleaned_food_data.csv')

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [79]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).

df_salary = pd.read_table('../data/Manager_Salary_Survey_2021.tsv')

Was that hard? 🙃 
-> Nope

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case
#Renamed it to

### Explore

You know the drill.

How much data did you just load?

In [9]:
# Count by hand. I’m dead serious.

df_salary.shape
df_salary.size
df_salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28062 entries, 0 to 28061
Data columns (total 18 columns):
 #   Column                                                                                                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                --------------  -----
 0   Timestamp                                                                                                                                                                                                                             28062 non-null  object
 1   How old are you?                                                                                                                                                                                                                      28062 non-null  object
 2   What industry do you work in?                                                                                                                                                                                                         27988 non-null  object
 3   Job title                                                                                                                                                                                                                             28061 non-null  object
 4   If your job title needs additional context, please clarify here:                                                                                                                                                                      7262 non-null   object
 5   What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)  28062 non-null  object
 6   How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                        20766 non-null  float64
 7   Please indicate the currency                                                                                                                                                                                                          28062 non-null  object
 8   If "Other," please indicate the currency here:                                                                                                                                                                                        206 non-null    object
 9   If your income needs additional context, please provide it here:                                                                                                                                                                      3042 non-null   object
 10  What country do you work in?                                                                                                                                                                                                          28062 non-null  object
 11  If you're in the U.S., what state do you work in?                                                                                                                                                                                     23039 non-null  object
 12  What city do you work in?                                                                                                                                                                                                             27980 non-null  object
 13  How many years of professional work experience do you have overall?                                                                                                                                                                   28062 non-null  object
 14  How many years of professional work experience do you have in your field?                                                                                                                                                             28062 non-null  object
 15  What is your highest level of education completed?                                                                                                                                                                                    27840 non-null  object
 16  What is your gender?                                                                                                                                                                                                                  27891 non-null  object
 17  What is your race? (Choose all that apply.)                                                                                                                                                                                           27885 non-null  object
dtypes: float64(1), object(17)
memory usage: 3.9+ MB

What are the columns and their types?

In [10]:
# Show the column names and their types.

df_salary.columns

Index(['Timestamp', 'How old are you?', 'What industry do you work in?',
       'Job title',
       'If your job title needs additional context, please clarify here:',
       'What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)',
       'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.',
       'Please indicate the currency',
       'If "Other," please indicate the currency here: ',
       'If your income needs additional context, please provide it here:',
       'What country do you work in?',
       'If you're in the U.S., what state do you work in?',
       'What city do you work in?',
       'How many years of professional work experience do you have overall?',
       'How many years of professional work experience do you have in your field?',
       'What is your highest level of education completed?',
       'What is your gender?', 'What is your race? (Choose all that apply.)'],
      dtype='object')

Oh… Ugh! Give these columns easier names to work with first. 🙄

In [80]:
# Rename ‘em.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race
df_salary.head()

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [87]:
df_salary = df_salary.rename(columns={'How old are you?':'age', 
                                      'What industry do you work in?':'Industry',
                                        'Job title':'occupation',
                                        'If your job title needs additional context, please clarify here:':'Additional Context',
                                        'What is your annual salary? (You\'ll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)':'Salary',
                                        'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.':'Additional Compensation',
                                        'Please indicate the currency':'Currency', 
                                        'If Other, please indicate the currency here':'Other Currency',
                                        'If your income needs additional context, please provide it here:':'Additional Income Context',
                                        'What country do you work in?':'Country',
                                        'How many years of professional work experience do you have overall?':'Overall Years of Experience',
                                        'How many years of professional work experience do you have in your field?':'Years of Experience in current field',
                                        'If you\'re in the U.S., what state do you work in?':'state outside of US',
                                        'What city do you work in?':'City in US',
                                        'What is your highest level of education completed?':'Education',
                                        'What is your gender?':'Gender',
                                        'What is your race? (Choose all that apply.)':'Race'
                                        })

df_salary.columns = df_salary.columns.str.replace(
    'If "Other," please indicate the currency here:', 
    'Other Currency', 
    regex=False
)
df_salary

,Timestamp,age,Industry,occupation,Additional Context,Salary,Additional Compensation,Currency,Other Currency,Additional Income Context,Country,state outside of US,City in US,Overall Years of Experience,Years of Experience in current field,Education,Gender,Race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28057,7/12/2024 22:52:01,35-44,Health care,Veterinarian,NaN,135000,NaN,USD,NaN,NaN,United States,Missouri,Wentzville,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,USA,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28059,7/24/2024 12:22:58,18-24,"Accounting, Banking & Finance",Risk Management Associate,NaN,1200,0.0,USD,NaN,NaN,Myanmar,Colorado,Yangon,2 - 4 years,2 - 4 years,Some college,Man,Asian or Asian American
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American
28061,8/20/2024 1:06:13,25-34,Health care,Clinical physiologist,NaN,1200000,NaN,Other,NGN,NaN,Nigeria,NaN,Lagos,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American

It’s a lot, and that should not have been easy. 😏

You’re going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [88]:
# List the unique industries and a count of their instances.
tech_subset = df_salary[df_salary['Industry'] == 'Computing or Tech']

print(tech_subset)

                Timestamp    age           Industry  \
1      4/27/2021 11:02:22  25-34  Computing or Tech
8      4/27/2021 11:03:01  45-54  Computing or Tech
43     4/27/2021 11:04:04  25-34  Computing or Tech
44     4/27/2021 11:04:04  25-34  Computing or Tech
46     4/27/2021 11:04:07  35-44  Computing or Tech
...                   ...    ...                ...
28050   7/1/2024 13:38:46  25-34  Computing or Tech
28051   7/1/2024 20:05:58  25-34  Computing or Tech
28052   7/3/2024 14:02:01  25-34  Computing or Tech
28058  7/23/2024 17:51:03  25-34  Computing or Tech
28060  7/26/2024 11:20:45  18-24  Computing or Tech

                                         occupation  \
1          Change & Internal Communications Manager
8                                   Systems Analyst
43                      Principal Software Engineer
44                             Intelligence Analyst
46                                 Mobile developer
...                                             ...
28050  Research & Systems Technician Data Analytics
28051                          Junior data analyst
28052        Senior Global Public Relations Manager
28058                             Systems Architect
28060                                            IT

                 Additional Context   Salary  Additional Compensation  \
1                               NaN   54,600                   4000.0
8      Data developer/ETL Developer  112,000                  10000.0
43                              NaN  187,500                   5000.0
44                              NaN  110,000                  20000.0
46                              NaN  144,600                   2500.0
...                             ...      ...                      ...
28050                           NaN    22000                      NaN
28051                           NaN    35000                  15000.0
28052                           NaN   144000                  15000.0
28058                           NaN   109000                      NaN
28060                           NaN     1700                     10.0

      Currency Other Currency       Additional Income Context         Country  \
1          GBP             NaN                            NaN  United Kingdom
8          USD             NaN                            NaN              US
43         USD             NaN                            NaN   United States
44         USD             NaN  Around 20,000 a year in stock             USA
46         USD             NaN                            NaN             USA
...        ...             ...                            ...             ...
28050      EUR             NaN                            NaN           Spain
28051      USD             NaN                            NaN             Usa
28052      USD             NaN                            NaN             Usa
28058      USD             NaN                            NaN             USA
28060      USD             NaN                            NaN           Burma

      state outside of US                                    City in US  \
1                     NaN                                     Cambridge
8                Missouri                                     St. Louis
43           Pennsylvania                                    Pittsburgh
44               Virginia                                 Arlington, VA
46          Massachusetts                                        Boston
...                   ...                                           ...
28050                 NaN                                     Barcelona
28051             Alabama                                      Alabama
28052       Massachusetts  Boise-but remote. Company located in Boston
28058             Georgia                                       Atlanta
28060                 NaN                                        Yangon

      Overall Years of Experience Years of Experience in current field  \
1                    8 - 10 years                            5-7 years
8                   21 - 30 years                        21 - 30 years
43                   8 - 10 years                            5-7 years
44                   8 - 10 years                         8 - 10 years
46                      5-7 years                            5-7 years
...                           ...                                  ...
28050                 2 - 4 years                          2 - 4 years
28051                 2 - 4 years                          2 - 4 years
28052                8 - 10 years                         8 - 10 years
28058                   5-7 years                            5-7 years
28060                 2 - 4 years                       1 year or less

             Education      Gender                                 Race
1       College degree  Non-binary                                White
8       College degree       Woman                                White
43      College degree       Woman                                White
44     Master's degree         Man                                White
46                 PhD       Woman                                White
...                ...         ...                                  ...
28050   College degree         Man  Hispanic, Latino, or Spanish origin
28051   College degree       Woman            Black or African American
28052  Master's degree       Woman                                White
28058   College degree         Man                                White
28060     Some college         Man              Asian or Asian American

[4699 rows x 18 columns]

That value among the top 5 is what you’re looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [89]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)

df_salary_tech = df_salary[df_salary['Industry'] == 'Computing or Tech']

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [93]:
# Sanity Check 

df_salary_tech.shape

(4699, 18)

In [94]:
df_salary.shape

(28062, 18)

In [97]:
df_salary_tech.head(10)

,Timestamp,age,Industry,occupation,Additional Context,Salary,Additional Compensation,Currency,Other Currency,Additional Income Context,Country,state outside of US,City in US,Overall Years of Experience,Years of Experience in current field,Education,Gender,Race
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
47,4/27/2021 11:04:09,35-44,Computing or Tech,Product Design Director,NaN,"200,850",40000.0,USD,NaN,NaN,USA,North Carolina,Chapel Hill,11 - 20 years,11 - 20 years,College degree,Woman,White
53,4/27/2021 11:04:19,35-44,Computing or Tech,Managed Services Sales Coordinator,Primarily proposal writing,"72,000",3000.0,USD,NaN,NaN,United States,Michigan,Troy,11 - 20 years,5-7 years,Master's degree,Woman,White
68,4/27/2021 11:04:36,25-34,Computing or Tech,Technical specialist,NaN,"34,000",2000.0,USD,NaN,NaN,United States,Minnesota,Minneapolis,5-7 years,5-7 years,College degree,Woman,White
74,4/27/2021 11:04:41,35-44,Computing or Tech,Tech Writer,NaN,"88,000",NaN,USD,NaN,NaN,USA,Maryland,prefer not to answer,11 - 20 years,8 - 10 years,College degree,Woman,Another option not listed here or prefer not t...
79,4/27/2021 11:04:49,35-44,Computing or Tech,Senior Business Analyst,NaN,"125,000",NaN,USD,NaN,NaN,US,New York,New York,11 - 20 years,8 - 10 years,Master's degree,Woman,White

In [98]:
df_salary_tech.tail(10)

,Timestamp,age,Industry,occupation,Additional Context,Salary,Additional Compensation,Currency,Other Currency,Additional Income Context,Country,state outside of US,City in US,Overall Years of Experience,Years of Experience in current field,Education,Gender,Race
28027,4/5/2024 21:53:08,45-54,Computing or Tech,Senior Data Analyst,NaN,115000,5000.0,USD,NaN,NaN,USA,North Carolina,Raleigh,5-7 years,5-7 years,Master's degree,Woman,White
28029,4/6/2024 14:30:24,25-34,Computing or Tech,Data Analyst,NaN,101150,10000.0,USD,NaN,NaN,United States,Washington,Vancouver,5-7 years,5-7 years,College degree,Man,NaN
28039,5/9/2024 11:23:20,25-34,Computing or Tech,Digital Content Developer,I develop web and email content for consumers ...,80000,6000.0,USD,NaN,NaN,USA,Minnesota,Minneapolis,8 - 10 years,5-7 years,College degree,Woman,Asian or Asian American
28043,5/27/2024 2:47:26,25-34,Computing or Tech,Lead,NaN,2600000,NaN,USD,NaN,NaN,USA,Florida,Newyork,8 - 10 years,2 - 4 years,NaN,Man,NaN
28044,6/3/2024 16:15:43,18-24,Computing or Tech,Research Data Analyst Associate,NaN,60000,0.0,USD,NaN,NaN,United States,Illinois,Evanston,2 - 4 years,1 year or less,College degree,Woman,White
28050,7/1/2024 13:38:46,25-34,Computing or Tech,Research & Systems Technician Data Analytics,NaN,22000,NaN,EUR,NaN,NaN,Spain,NaN,Barcelona,2 - 4 years,2 - 4 years,College degree,Man,"Hispanic, Latino, or Spanish origin"
28051,7/1/2024 20:05:58,25-34,Computing or Tech,Junior data analyst,NaN,35000,15000.0,USD,NaN,NaN,Usa,Alabama,Alabama,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American
28052,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000,15000.0,USD,NaN,NaN,Usa,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,USA,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American

We are very interested in salary figures. But how many dollars 💵 is a euro 💶 or a pound 💷? That sounds like a problem for another day. 🫠

For now, let’s just look at U.S. dollars (`'USD'`).

In [99]:
# Filtery filter for just the jobs that pay in USD!

df_salary_USD = df_salary[df_salary['Currency'] == 'USD']

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [112]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.

country_counts = df_salary_USD['Country'].value_counts()

### Clean the Data

Well, we can’t get our answers with what we currently have, so you’ll have to make some changes.

Let’s not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value―say, `'US'`, which is nice and short.

In [141]:
# Replace them all with 'US'.

tech_df = df_salary_USD[df_salary_USD['Industry'] == 'Computing or Tech'].copy()

top_5_countries = tech_df['Country'].value_counts().head(5).index.tolist()
print("Top 5 countries in tech:", top_5_countries)

tech_df['Country'] = tech_df['Country'].replace(top_5_countries, 'US')

tech_df

Top 5 countries in tech: ['United States', 'USA', 'US', 'Canada', 'United Kingdom']

,Timestamp,age,Industry,occupation,Additional Context,Salary,Additional Compensation,Currency,Other Currency,Additional Income Context,Country,state outside of US,City in US,Overall Years of Experience,Years of Experience in current field,Education,Gender,Race
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,US,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,US,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",US,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,US,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28050,7/1/2024 13:38:46,25-34,Computing or Tech,Research & Systems Technician Data Analytics,NaN,22000,NaN,EUR,NaN,NaN,Spain,NaN,Barcelona,2 - 4 years,2 - 4 years,College degree,Man,"Hispanic, Latino, or Spanish origin"
28051,7/1/2024 20:05:58,25-34,Computing or Tech,Junior data analyst,NaN,35000,15000.0,USD,NaN,NaN,Usa,Alabama,Alabama,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American
28052,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000,15000.0,USD,NaN,NaN,Usa,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,US,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American

Have a look at the count of each unique country again now.

In [129]:
# Count again.

tech_df['Country'].value_counts()

Country
US                          3583
UK                           112
U.S.                         108
United States of America      90
Germany                       69
                            ...
Nigeria                        1
ss                             1
ibdia                          1
Nigeria                        1
Burma                          1
Name: count, Length: 141, dtype: int64

Did you notice anything interesting?

In [20]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

In [21]:

# BONUS CREDIT: if you’ve resolved it, let’s see how well you did by counting the number of instances of each unique value.

It’s looking good so far. Let’s find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [143]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.
us_tech_df = tech_df[tech_df['Country'] == 'US'].copy()

us_tech_df = us_tech_df.dropna(subset=['Salary'])

Well, pooh! We forgot that `salary` isn’t numeric. Something wrong must be fixed.

In [154]:
# Fix it.
us_tech_df = tech_df[tech_df['Country'] == 'US'].copy()
us_tech_df['Salary'] = pd.to_numeric(us_tech_df['Salary'], errors='coerce')

us_tech_df = us_tech_df.dropna(subset=['Salary'])
us_tech_df.dtypes

Timestamp                                object
age                                      object
Industry                                 object
occupation                               object
Additional Context                       object
Salary                                  float64
Additional Compensation                 float64
Currency                                 object
Other Currency                           object
Additional Income Context                object
Country                                  object
state outside of US                      object
City in US                               object
Overall Years of Experience              object
Years of Experience in current field     object
Education                                object
Gender                                   object
Race                                     object
dtype: object

Let’s try that again.

In [139]:
# Try it again. Yeah!

salary_stats = us_tech_df.groupby('City in US')['Salary'].agg(['min', 'mean', 'max'])

print(salary_stats)

                     min      mean       max
City in US
Aberdeen         40300.0   40300.0   40300.0
Addison         116250.0  116250.0  116250.0
Akron            54000.0   54000.0   54000.0
Albuquerque      82000.0   98600.0  115200.0
Alexandria       92000.0  103500.0  115000.0
...                  ...       ...       ...
Windsor         104000.0  104000.0  104000.0
Winnipeg        108000.0  108000.0  108000.0
Work from home   49000.0   81500.0  114000.0
York            165000.0  165000.0  165000.0
san francisco   130000.0  130000.0  130000.0

[343 rows x 3 columns]

That did the trick! Now let’s narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [155]:
#Timestamp is currently an Object. Need to conver it to daytime 

us_tech_df['Timestamp'] = pd.to_datetime(us_tech_df['Timestamp'])

In [ ]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.

us_tech_df['Year'] = us_tech_df['Timestamp'].dt.year
us_tech_recent = us_tech_df[us_tech_df['Year'].isin([2021, 2022])]

salary_stats_years = us_tech_recent.groupby('City in US')['Salary'].agg(['min', 'mean', 'max'])

print(salary_stats_years)

                     min      mean       max
City in US
Aberdeen         40300.0   40300.0   40300.0
Addison         116250.0  116250.0  116250.0
Akron            54000.0   54000.0   54000.0
Albuquerque      82000.0   98600.0  115200.0
Alexandria       92000.0  103500.0  115000.0
...                  ...       ...       ...
Windsor         104000.0  104000.0  104000.0
Winnipeg        108000.0  108000.0  108000.0
Work from home   49000.0   81500.0  114000.0
York            165000.0  165000.0  165000.0
san francisco   130000.0  130000.0  130000.0

[335 rows x 3 columns]

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you’ve now reached. What do you notice about Delaware and West Virginia?

Let’s back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum―say 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you―like say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* 😜)